.App {
  text-align: center;
}

.through {
  text-decoration: line-through;
}
.close {
  cursor: pointer;
 font-size: 22px;

}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}